USE [master]
GO
/****** Object:  Database [4kursPractikaOsen1]    Script Date: 13.11.2025 15:29:13 ******/
CREATE DATABASE [4kursPractikaOsen1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'4kursPractikaOsen1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\4kursPractikaOsen1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'4kursPractikaOsen1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\4kursPractikaOsen1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [4kursPractikaOsen1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [4kursPractikaOsen1]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[Activity_ID] [int] NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[Score] [int] NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[Activity_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activity_Event]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity_Event](
	[Activity_ID] [int] NOT NULL,
	[Event_ID] [int] NOT NULL,
	[Day] [int] NULL,
	[Strart_Time] [datetime] NULL,
 CONSTRAINT [PK_Activity_Event] PRIMARY KEY CLUSTERED 
(
	[Activity_ID] ASC,
	[Event_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[City_ID] [int] NOT NULL,
	[Name] [nchar](20) NOT NULL,
	[City_URL] [nchar](4000) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[City_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Country_ID] [int] NOT NULL,
	[Letter_Code] [nchar](2) NOT NULL,
	[Country_Name_RU] [nchar](15) NOT NULL,
	[Country_Name_EN] [nchar](15) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Country_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[Event_ID] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Date_of_Start] [datetime] NOT NULL,
	[Day_Longs] [int] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[Event_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event_City]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_City](
	[Event_ID] [int] NOT NULL,
	[City_ID] [int] NOT NULL,
 CONSTRAINT [PK_Event_City] PRIMARY KEY CLUSTERED 
(
	[Event_ID] ASC,
	[City_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event_EventType]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_EventType](
	[Event_ID] [int] NOT NULL,
	[EventType_ID] [int] NOT NULL,
 CONSTRAINT [PK_Event_EventType] PRIMARY KEY CLUSTERED 
(
	[Event_ID] ASC,
	[EventType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event_Section]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_Section](
	[Event_ID] [int] NOT NULL,
	[Section_ID] [int] NOT NULL,
 CONSTRAINT [PK_Event_Section] PRIMARY KEY CLUSTERED 
(
	[Event_ID] ASC,
	[Section_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[EventType_ID] [int] NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_EventType] PRIMARY KEY CLUSTERED 
(
	[EventType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[Section_ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Section] PRIMARY KEY CLUSTERED 
(
	[Section_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sex]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[Sex_ID] [int] NOT NULL,
	[Name] [nchar](10) NULL,
 CONSTRAINT [PK_Sex] PRIMARY KEY CLUSTERED 
(
	[Sex_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] NOT NULL,
	[Full_Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Date_of_Birth] [datetime] NOT NULL,
	[Phone_Number] [nchar](20) NOT NULL,
	[Password] [nchar](20) NOT NULL,
	[Foto] [nchar](20) NULL,
	[Role] [nchar](15) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Country]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Country](
	[User_ID] [int] NOT NULL,
	[Country_ID] [int] NOT NULL,
 CONSTRAINT [PK_User_Country] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC,
	[Country_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Event]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Event](
	[User_ID] [int] NOT NULL,
	[Event_ID] [int] NOT NULL,
	[Is_Vinner] [bit] NULL,
 CONSTRAINT [PK_User_Event] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC,
	[Event_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Section]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Section](
	[User_ID] [int] NOT NULL,
	[Section_ID] [int] NOT NULL,
 CONSTRAINT [PK_User_Section] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC,
	[Section_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Sex]    Script Date: 13.11.2025 15:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Sex](
	[User_ID] [int] NOT NULL,
	[Sex_ID] [int] NOT NULL,
 CONSTRAINT [PK_User_Sex] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC,
	[Sex_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Activity_Event]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Event_Activity] FOREIGN KEY([Activity_ID])
REFERENCES [dbo].[Activity] ([Activity_ID])
GO
ALTER TABLE [dbo].[Activity_Event] CHECK CONSTRAINT [FK_Activity_Event_Activity]
GO
ALTER TABLE [dbo].[Activity_Event]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Event_Event] FOREIGN KEY([Event_ID])
REFERENCES [dbo].[Event] ([Event_ID])
GO
ALTER TABLE [dbo].[Activity_Event] CHECK CONSTRAINT [FK_Activity_Event_Event]
GO
ALTER TABLE [dbo].[Event_City]  WITH CHECK ADD  CONSTRAINT [FK_Event_City_City] FOREIGN KEY([City_ID])
REFERENCES [dbo].[City] ([City_ID])
GO
ALTER TABLE [dbo].[Event_City] CHECK CONSTRAINT [FK_Event_City_City]
GO
ALTER TABLE [dbo].[Event_City]  WITH CHECK ADD  CONSTRAINT [FK_Event_City_Event] FOREIGN KEY([Event_ID])
REFERENCES [dbo].[Event] ([Event_ID])
GO
ALTER TABLE [dbo].[Event_City] CHECK CONSTRAINT [FK_Event_City_Event]
GO
ALTER TABLE [dbo].[Event_EventType]  WITH CHECK ADD  CONSTRAINT [FK_Event_EventType_Event] FOREIGN KEY([Event_ID])
REFERENCES [dbo].[Event] ([Event_ID])
GO
ALTER TABLE [dbo].[Event_EventType] CHECK CONSTRAINT [FK_Event_EventType_Event]
GO
ALTER TABLE [dbo].[Event_EventType]  WITH CHECK ADD  CONSTRAINT [FK_Event_EventType_EventType] FOREIGN KEY([EventType_ID])
REFERENCES [dbo].[EventType] ([EventType_ID])
GO
ALTER TABLE [dbo].[Event_EventType] CHECK CONSTRAINT [FK_Event_EventType_EventType]
GO
ALTER TABLE [dbo].[Event_Section]  WITH CHECK ADD  CONSTRAINT [FK_Event_Section_Event] FOREIGN KEY([Event_ID])
REFERENCES [dbo].[Event] ([Event_ID])
GO
ALTER TABLE [dbo].[Event_Section] CHECK CONSTRAINT [FK_Event_Section_Event]
GO
ALTER TABLE [dbo].[Event_Section]  WITH CHECK ADD  CONSTRAINT [FK_Event_Section_Section] FOREIGN KEY([Section_ID])
REFERENCES [dbo].[Section] ([Section_ID])
GO
ALTER TABLE [dbo].[Event_Section] CHECK CONSTRAINT [FK_Event_Section_Section]
GO
ALTER TABLE [dbo].[User_Country]  WITH CHECK ADD  CONSTRAINT [FK_User_Country_Country] FOREIGN KEY([Country_ID])
REFERENCES [dbo].[Country] ([Country_ID])
GO
ALTER TABLE [dbo].[User_Country] CHECK CONSTRAINT [FK_User_Country_Country]
GO
ALTER TABLE [dbo].[User_Country]  WITH CHECK ADD  CONSTRAINT [FK_User_Country_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[User_Country] CHECK CONSTRAINT [FK_User_Country_User]
GO
ALTER TABLE [dbo].[User_Event]  WITH CHECK ADD  CONSTRAINT [FK_User_Event_Event] FOREIGN KEY([Event_ID])
REFERENCES [dbo].[Event] ([Event_ID])
GO
ALTER TABLE [dbo].[User_Event] CHECK CONSTRAINT [FK_User_Event_Event]
GO
ALTER TABLE [dbo].[User_Event]  WITH CHECK ADD  CONSTRAINT [FK_User_Event_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[User_Event] CHECK CONSTRAINT [FK_User_Event_User]
GO
ALTER TABLE [dbo].[User_Section]  WITH CHECK ADD  CONSTRAINT [FK_User_Section_Section] FOREIGN KEY([Section_ID])
REFERENCES [dbo].[Section] ([Section_ID])
GO
ALTER TABLE [dbo].[User_Section] CHECK CONSTRAINT [FK_User_Section_Section]
GO
ALTER TABLE [dbo].[User_Section]  WITH CHECK ADD  CONSTRAINT [FK_User_Section_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[User_Section] CHECK CONSTRAINT [FK_User_Section_User]
GO
ALTER TABLE [dbo].[User_Sex]  WITH CHECK ADD  CONSTRAINT [FK_User_Sex_Sex] FOREIGN KEY([Sex_ID])
REFERENCES [dbo].[Sex] ([Sex_ID])
GO
ALTER TABLE [dbo].[User_Sex] CHECK CONSTRAINT [FK_User_Sex_Sex]
GO
ALTER TABLE [dbo].[User_Sex]  WITH CHECK ADD  CONSTRAINT [FK_User_Sex_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[User_Sex] CHECK CONSTRAINT [FK_User_Sex_User]
GO
USE [master]
GO
